@charset "UTF-8";
/* CSS Document */


/****************************************************************************
    layout
****************************************************************************/
/* Frame */
html,body {font-size:inherit;color:#fff;background-color:#000}

/* HEADER */
header { height: 100vh; display: flex;font-size:100px; justify-content: center; align-items: center; }
//dsfdsf  