/* SCSS Document */
@charset "UTF-8";



/****************************************************************************
    layout
****************************************************************************/
/* Frame */
#wrap {overflow-x:hidden !important;min-width:1440px;font-family:"NanumSquare", sans-serif;font-size:16px;letter-spacing:-0.02em}
.inner {position:relative;z-index:1;max-width:1440px;padding:0 72px;margin:0 auto;}



/****************************************************************************
    container
****************************************************************************/
/* 공통 */ 

