/* SCSS Document */
@charset "UTF-8";

$imgPath : "/img/main/";
/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/


    /* 메인비주얼 */
    #visual {
        position:relative;width:100%;height:900px;
        > .inner {
            pointer-events:none;
        }
        .tit_section {
            position:absolute;top:228px;font-size:63px;font-weight:900;line-height:1.27em;letter-spacing:-2.4px;color:#fff;
            strong {
                font-weight:900;background-image:linear-gradient(to right,#28e375 0%, #22e6cc 101%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;
                @include ieHack {
                    color:#28e375;background-image:none;
                }
            }
        }
        .videoLayer {
            @include gradSlideBtn;
            position:absolute;top:610px;pointer-events:all;/* width:176px;height:46px;border-radius:2em;color:#fff;background-image:$G-gradPrimary; */
        }
    }

    #visual .swiper-container {
        position:absolute;top:0;left:0;z-index:0;width:100%;height:100%;
    }

    #visual .swiper-slide {
        .tit {
            position:absolute;top:500px;font-size:25px;line-height:1.56em;color:#fff;opacity:0;transform:translateX(60px);
        }
        .bg {
            position:absolute;top:0;bottom:0;left:0;right:0;background:center center no-repeat;background-size:cover;transform:rotate(.001deg);
        }
        &.swiper-slide-active {
            .tit {
                opacity:1;transform:translateX(0);transition:all 0.6s 0.2s ease-in-out;
            }
        }
    }

    #visual .swiper-button-area {
        position:absolute;top:50%;left:110px;right:110px;z-index:1;height:1px;background-color:rgba(#fff,0.3);;
        .swiper-button-white {
            width:55px;height:55px;margin-top:-28px;border-radius:100%;background-color:rgba(#fff,0.3);background-size:13px;transition:background-color 0.2s ease-in-out;
            &:hover {
                background-color:rgba(#fff,0.6);
            }
        }
        .swiper-button-prev {
            left:-55px
        }
        .swiper-button-next {
            right:-55px
        }
    }

    #visual .swiper-button-area .progress_bar {
        position:absolute;top:0;left:0;width:0;height:100%;background-color:$G-colorPrimary;
        &.is-active {
            $name: inline-#{unique-id()};
            animation:#{$name} 5s forwards linear;
            @keyframes #{$name} {
                100%        {width:100%}
            }
        }
    }

    #visual .swiper-pagination {
        bottom:50px;
        .swiper-pagination-bullet {
            margin:0 6px;border-radius:2em;background:rgba(#fff,0.3);opacity:1;transition:all 0.4s ease-in-out;
        }
        .swiper-pagination-bullet-active {
            width:36px;background:#fff;
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 약력 */
    #profile {
        overflow:hidden;position:relative;height:550px;background-image:linear-gradient(to right, #00c652, #00c5ae);
        &::before {
            content:"";position:absolute;bottom:0;left:0;width:0;height:0;border-top:900px solid transparent;border-left:600px solid rgba(#fff,0.05);
        }
        &::after {
            content:"";position:absolute;bottom:0;right:0;width:0;height:0;border-top:900px solid transparent;border-right:600px solid rgba(#fff,0.05);
        }
    }

    #profile .swiper-container {
        width:100%;height:100%;
    }

    #profile .swiper-slide {
        .tit {
            padding:105px 0 20px;font-size:20px;color:#fff;text-align:center;line-height:1em;
        }
        .num {
            font-family:"CenturyGothic";font-size:141px;font-weight:bold;color:#fff;text-align:center;line-height:1em;
        }
        .desc {
            padding-top:35px;font-size:25px;color:#fff;text-align:center;line-height:1.56em;
        }
    }

    #profile .swiper-button-white {
        width:48px;height:64px;margin-top:-32px;background-color:rgba(#000,0.15);background-size:13px;transition:background-color 0.2s ease-in-out;
        &:hover {
            background-color:rgba(#000,0.6);
        }
        &.swiper-button-prev {
            left:0;
        }
        &.swiper-button-next {
            right:0;
        }
    }

    #profile .swiper-pagination {
        left:50%;bottom:50px;transform:translateX(-50%);
        .swiper-pagination-bullet {
            margin:0 6px;border-radius:2em;background:rgba(#fff,0.3);opacity:1;transition:all 0.4s ease-in-out;
        }
        .swiper-pagination-bullet-active {
            width:36px;background:#fff;
        }
    }


/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 프로젝트 */
    #project {
        background-color:#f5f7f8;
        .tit_section {
            padding:120px 0 70px;font-size:41px;text-align:center;letter-spacing:-0.03em;
        }
    }

    #project .list_tag {
        margin:-5px;padding-bottom:70px;
        .btn_tag {
            overflow:hidden;display:inline-block;position:relative;z-index:1;margin:5px;padding:10px 20px 10px;border:1px solid #eaeaea;line-height:1em;transition:all 0.2s ease-in-out;
            &::before {
                content:"# ";
            }
            &::after {
                content:"";position:absolute;top:0;bottom:0;left:0;right:100%;z-index:-1;background:$G-gradPrimary;transition:all 0.4s ease-in-out;
            }
            &.on {
                border-color:transparent;color:#fff;transition:all 0.4s ease-in-out;
                &::after {
                    right:0;
                }
            }
        }
    }

    #project .list_project {
        display:flex;flex-wrap:wrap;margin:0 -10px;transition:all 1s ease-in-out;
        &:empty {
            &::after {
                content:"태그(#)가 선택되지 않았습니다.";display:flex;justify-content:center;align-items:center;width:100%;padding-top:65px;font-size:30px;color:#cacaca;text-shadow:1px 1px 0 #fff;
            }
            & ~ .btn_area .btn_more {
                display:none;
            }
        }
    }

    #project .item_project {
        position:relative;width:416px;margin:0 10px 33px;background-color:#fff;transition:0.3s $G-easeHover;
        &:hover {
            transform:translateY(-20px);box-shadow:8px 8px 13px rgba(#000,0.3);
        }
    }

    #project .item_project .inner_default {
        width:100%;height:100%;
        .tit {
            padding:36px 0 23px 32px;font-size:24px;font-weight:bold;line-height:1em;
        }
        .desc {
           height:66px;padding:0 36px;word-break:keep-all;
        }
        .tag {
            overflow:hidden;height:34px;margin-bottom:35px;padding:0 36px;
            span {
                display:inline-block;margin-right:10px;padding:9px 13px 7px;border:1px solid #eaeaea;line-height:1em;
                &::before {
                    content:"# ";
                }
            }
        }
    }
    #project .item_project {
        .inner_overlay {
            position:absolute;top:0;bottom:0;left:0;right:0;z-index:1;opacity:0;padding:57px 62px 0;transition:0.3s $G-easeHover;
            &::after {
                content:"";position:absolute;top:0;bottom:0;left:0;right:0;z-index:-1;background-color:rgba(#000,0.9);
            }
            .tit {
                margin-bottom:5px;font-size:24px;font-weight:bold;color:#fff;word-break:keep-all;
            }
            .desc {
                margin-bottom:22px;padding-bottom:20px;border-bottom:1px solid rgba(#fff,0.23);font-size:20px;color:#fff;word-break:keep-all;
            }
            .role {
                margin-bottom:5px;font-size:16px;color:#fff;
            }
            .work {
                margin-bottom:5px;font-size:16px;color:#fff;
            }
            .rate {
                margin-bottom:5px;font-size:16px;color:#fff;
            }
            .btn_more {
                display:flex;align-items:center;position:absolute;bottom:57px;left:50%;transform:translateX(-50%);
                > * {
                    fill:#fff;overflow:hidden;display:inline-flex;justify-content:center;align-items:center;position:relative;width:48px;height:48px;border:2px solid #fff;border-radius:100%;
                    &::after {
                        content:"";position:absolute;top:0;bottom:0;left:0;right:0;z-index:-1;opacity:0;transition:0.3s $G-easeHover;
                    }
                }
                &:hover > * {
                    border-width:0;
                    &::after {
                        opacity:1;background:$G-gradPrimary;
                    }
                }
            }
        }
        &:hover .inner_overlay {
            opacity:1;
        }
    }

    #project .item_project .btn_more {
        $value:
            link    23px,
        ;
        @each $class, $fz in $value {
            .#{$class} {
                font-size:#{$fz};
            }
        }
    }

    #project .btn_area {
        padding:50px 0 90px;text-align:center;;
        .btn_more {
            @include gradSlideBtn;
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 사용자 편의성 */
    #device {
        overflow:hidden;position:relative;height:1296px;background: #292B31 url(https://displayad.naver.com/static/images/9ac6aa3c8c899465dff373ee9586ee53.jpg) 50% 0 no-repeat;background-size:cover;background-attachment:fixed;
    }

    #device .tag {
        display:flex;align-items:center;position:absolute;top:5px;left:316px;z-index:40;width:238px;height:50px;padding-left:28px;border-radius:2em;font-family:"CenturyGothic";font-size:26px;font-weight:bold;font-style:italic;color:#fff;line-height:1em;background-color:#ff0032;
        &::after {
            $name: inline-#{unique-id()};
            content:"";position:absolute;top:50%;right:20px;width:7px;height:7px;background-color:#fff;border-radius:100%;transform:translateY(-50%);animation:#{$name} 0.5s infinite alternate ease-in-out;
            @keyframes #{$name} {
                100%        {opacity:0.5}
            }
        }
    }

    #device .swiper-container {
        // pointer-events:none;
        $value:
            'pc'         49px     388px    21   750px   468px    0     all,
            'tablet'     236px    131px    11   427px   319px    6px   none,
            'mobile'     275px    1132px   31   133px   287px    13px  none,
        ;
        @each $class, $top, $left, $z-index, $width, $height, $bdr, $event in $value {
            &.swiper-#{$class} {
                position:absolute;top:#{$top};left:#{$left};z-index:#{$z-index};width:#{$width};height:#{$height};border-radius:#{$bdr};pointer-events:#{$event};
            }
        }
    }

    #device .swiper-slide {
        overflow:hidden;
        .slide-inner {
            position:absolute;width:100%;height:100%;left:0;top:0;background-size:cover;background-position:center;
        }
    }

    #device {
        $value:
            'tablet'     220px    98px     10    494px,
            'pc'         25px     248px    20   1031px,
            'mobile'     264px    1111px   30    174px,
        ;
        @each $class, $top, $left, $z-index, $width in $value {
            .bg_#{$class} {
                position:absolute;top:#{$top};left:#{$left};z-index:#{$z-index};width:#{$width};height:auto;
            }
        }
    }

    #device .txt_area {
        position:absolute;top:680px;left:50%;transform:translateX(-50%);
        .tit_section {
            padding-bottom:30px;font-size:41px;color:#fff;text-align:center;letter-spacing:-0.03em;
            strong {
                font-weight:900;
            }
        }
        .desc_section {
            padding-bottom:90px;font-size:20px;color:#fff;text-align:center;
        }
        .btn_search {
            @include gradSlideBtn($pd:0 40px);
            display:block;margin:0 auto;
            .cmt {
                margin-left:9px;padding:5px 8px;font-size:14px;color:#fff;background-color:rgba(#0d0d0d, 0.2);
            }
        }
    }

    #device {
        $value:
            top      left       #f5f7f8,
            bottom   right      #fff,
        ;
        @each $Y, $X, $bgc in $value {
            .rotate_#{$Y} {
                position:absolute;width:120%;height:300px;background-color:#{$bgc};transform-origin:#{$X} #{$Y};transform:rotate( 5.2deg);z-index:0;
                @if ($Y == top){
                    left:0;top:-288px;
                } @else {
                    right:0;bottom:-288px;
                }
            }
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 경력개발 */
    #professional {
        padding-bottom:78px;
        .tit_section {
            padding-bottom:30px;font-size:41px;text-align:center;letter-spacing:-0.03em;
        }
        .desc_section {
            padding-bottom:90px;font-size:20px;color:#767676;text-align:center;
        }
    }

    #professional .tab-container {
        .tab-wrapper {
            overflow:hidden;margin-bottom:110px;transition:all 0.6s $G-easeHover;
            .tab-slide {
                position:relative;width:100%;/* height:100%; */
            }
        }
    }

    #professional .tab-slide-tool {
        padding:20px 0;
        .list_tool {
            position:relative;width:1192px;height:525px;margin:0 auto;
            .item_tool {
                display:flex;justify-content:center;align-items:center;position:absolute;z-index:1;width:132px;height:132px;border-radius:100%;background-color:#fff;box-shadow:2px 2px 10px 0 rgba(0, 0, 0, 0.08);
                .logo {
                    height:60px;font-size:60px;
                }
            }
            .line {
                position:absolute;top:50%;left:0;width:1192px;height:420px;stroke:#000;opacity:0;transform:translateY(-50%);
            }
        }
        &.tab-slide-active.appear {
            .line {
                opacity:1;transition:all 1s 0.5s ease-in-out;
            }
        }
    }

    #professional .item_tool {
        $i : 0;
        $value:
            'indesign'       0        212px   ''       ,
            'vue'            0        636px   ''       ,
            'illust'         0        424px   ''       ,
            'sass'           0        848px   ''     ,
            'premiere'       201px    0       ''       ,
            'photoshop'      201px    212px   2        ,
            'xd'             201px    424px   ''       ,
            'js'             201px    636px   ''       ,
            'html'           201px    848px   2        ,
            'css'            201px    1060px  ''       ,
            'aftereffect'    393px    212px   ''       ,
            'git'            393px    424px   ''     ,
            'jquery'         393px    636px   ''       ,
            'gsap'           393px    848px   ''     ,
        ;
        @each $class, $top, $left, $z-index, $width in $value {
            $i : $i + 1;
            &.#{$class} {
                top:#{$top};left:#{$left};z-index:#{$z-index} !important;transition:all 1s #{$i * 0.05}s ease-in-out;
            }
        }
    }

    #professional .tab-slide-tool:not(.tab-slide-active.appear) .item_tool {
        $value:
            'indesign'       201px    212px     ,
            'vue'            201px    848px     ,
            'illust'         201px    212px     ,
            'sass'           201px    848px     ,
            'premiere'       201px    212px     ,
            'photoshop'      201px    212px     ,
            'xd'             201px    212px     ,
            'js'             201px    848px     ,
            'html'           201px    848px     ,
            'css'            201px    848px     ,
            'aftereffect'    201px    212px     ,
            'git'            201px    848px     ,
            'jquery'         201px    848px     ,
            'gsap'           201px    848px     ,
        ;
        @each $class, $top, $left in $value {
            &.#{$class} {
                top:#{$top};left:#{$left};transition:none;
            }
        }
    }

    #professional .tab-nav {
        text-align:center;
        .tab-btn {
            @include gradSlideBtn;
            margin:0 7px;
            .ico {
                font-size:28px;fill:$G-colorPrimary;margin-right:0.25em;
            }
        }
        .tab-btn-active {
            color:#fff;border-color:transparent;transition:border-color 0.4s 0.2s #{$G-easeHover}, color 0.4s #{$G-easeHover};
            &::after {
                right:0;
            }
            .ico {
                fill:#fff;transition:all 0.4s #{$G-easeHover};
            }
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 근무이력 */
    #career {
        position:relative;padding-bottom:120px;
        .tit_section {
            padding:120px 0 30px;font-size:41px;text-align:center;letter-spacing:-0.03em;
        }
    }

    #career .swiper-container {
        padding:30px 0;
        .swiper-wrapper {
            transition-timing-function:linear;
        }
    }

    #career .swiper-slide {
        width:548px;height:422px;padding:65px 50px 0;background-color:#fff;box-shadow:0 3px 25px 0 rgba(0, 0, 0, 0.1);
    }

    #career .info {
        display:flex;justify-content:space-around;align-items:center;margin-bottom:45px;
        .logo {
            display:block;max-width:155px;height:auto;max-height:97px;
        }
        .detail {
            width:215px;
            .name {
                font-size:25px;font-weight:bold;letter-spacing:-0.04em;
            }
            .period {
                font-size:16px;color:#767676;
            }
            .postion {
                font-size:16px;color:#767676
            }
        }
    }

    #career .list_job {
        .tit {
            margin-bottom:23px;padding-bottom:21px;border-bottom:1px solid #eee;font-size:20px;font-style:italic;color:#333;text-align:center;line-height:1em;
            &::before {
                content:"“";display:inline-block;margin-right:3px;font-family:"PerpetuaTitlingMT",serif;font-style:normal;font-size:35px;color:#bbb;line-height:0em;transform:translateY(7px);
            }
            &::after {
                content:'”';display:inline-block;margin-left:5px;font-family:"PerpetuaTitlingMT",serif;font-style:normal;font-size:35px;color:#bbb;line-height:0em;transform:translateY(7px);
            }
        }
        .desc {
            position:relative;font-size:16px;color:#767676;line-height:1.9em;
            &::before {
                content:"ㆍ";
            }
        }
    }

    #career .swiper-button-white {
        width:48px;height:64px;margin-top:83px;background-color:rgba(#000,0.15);background-size:13px;transition:background-color 0.2s ease-in-out;
        &:hover {
            background-color:rgba(#000,0.6);
        }
        &.swiper-button-prev {
            left:0;
        }
        &.swiper-button-next {
            right:0;
        }
    }

    #career .swiper-pagination {
        left:50%;bottom:50px;transform:translateX(-50%);
        .swiper-pagination-bullet {
            margin:0 6px;border-radius:2em;background:rgba(#000,0.1);opacity:1;transition:all 0.4s ease-in-out;
        }
        .swiper-pagination-bullet-active {
            width:36px;background:$G-gradPrimary;
        }
    }


/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 코딩블로그 */
    #blog {
        padding-bottom:110px;
        .tit_section {
            padding:120px 0 30px;font-size:41px;text-align:center;letter-spacing:-0.03em;
        }
        .desc_section {
            padding-bottom:90px;font-size:20px;color:#767676;text-align:center;
        }
    }

    #blog .table tr[data-disable="true"] {
        td {
            color:#cacaca !important;
        }
        td.tit {
            cursor:default;
            &::after {
                content:" ※ 현재 열람이 불가합니다.";display:inline-block;font-size:0.8em;color:#ff0032 !important;opacity:0;transform:translateX(30px);
            }
        }
        &:hover td.tit::after {
            opacity:1;transform:translateX(10px);transition:0.4s #{$G-easeHover};
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



