/* SCSS Document */
@charset "UTF-8";

$imgPath : "/img/main/";
/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/


    /* 메인비주얼 */
    #visual {
        position:relative;width:100%;height:900px;
        > .inner {
            pointer-events:none;
        }
        .tit_section {
            position:absolute;top:228px;font-size:60px;font-weight:900;line-height:1.27em;letter-spacing:-2.4px;color:#fff;
            strong {
                font-weight:900;background-image:linear-gradient(to right,#28e375 0%, #22e6cc 101%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;
                @include ieHack {
                    color:#28e375;background-image:none;
                }
            }
        }
        .btn_video {
            position:absolute;top:590px;width:176px;height:46px;border-radius:2em;color:#fff;background-image:linear-gradient(to right, #07d05a, #24beac);
        }
    }

    #visual .swiper-container {
        position:absolute;top:0;left:0;z-index:0;width:100vw;height:100%;
        @include ieHack {
            width:100vw;
        }
    }

    #visual .swiper-slide {
        background-size:cover;
        .tit {
            position:absolute;top:500px;font-size:20px;line-height:1.4em;letter-spacing:-0.2px;color:#fff;opacity:0;transform:translateX(60px);transition:all 0.4s ease-in-out;
        }
        &.swiper-slide-active {
            .tit {
                opacity:1;transform:translateX(0);
            }
        }
    }

    #visual .swiper-button-area {
        position:absolute;top:50%;left:110px;right:110px;z-index:1;height:1px;background-color:rgba(#fff,0.3);;
        .swiper-button-white {
            width:55px;height:55px;margin-top:-28px;border-radius:100%;background-color:rgba(#fff,0.3);background-size:13px;transition:background-color 0.2s ease-in-out;
            &:hover {
                background-color:rgba(#fff,0.6);
            }
        }
        .swiper-button-prev {
            left:-55px
        }
        .swiper-button-next {
            right:-55px
        }
    }

    #visual .swiper-button-area .progress_bar {
        position:absolute;top:0;left:0;width:30%;height:100%;background-color:#03c75a;
    }

    #visual .swiper-pagination {
        bottom:50px;
        .swiper-pagination-bullet {
            margin:0 6px;border-radius:2em;background:rgba(#fff,0.3);opacity:1;transition:all 0.4s ease-in-out;
        }
        .swiper-pagination-bullet-active {
            width:36px;background:#fff;
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 약력 */
    #profile {
        overflow:hidden;position:relative;height:550px;background-image:linear-gradient(to right, #00c652, #00c5ae);
        &::before {
            content:"";position:absolute;bottom:0;left:0;width:0;height:0;border-top:900px solid transparent;border-left:600px solid rgba(#fff,0.05);
        }
        &::after {
            content:"";position:absolute;bottom:0;right:0;width:0;height:0;border-top:900px solid transparent;border-right:600px solid rgba(#fff,0.05);
        }
    }

    #profile .swiper-container {
        width:100%;height:100%;
    }

    #profile .swiper-slide {
        .tit {
            padding:105px 0 20px;font-size:20px;color:#fff;text-align:center;line-height:1em;
        }
        .num {
            font-family:"CenturyGothic";font-size:141px;font-weight:bold;color:#fff;text-align:center;line-height:1em;
        }
        .desc {
            padding-top:35px;font-size:25px;color:#fff;text-align:center;line-height:1.56em;
        }
    }

    #profile .swiper-button-white {
        width:48px;height:64px;margin-top:-32px;background-color:rgba(#000,0.15);background-size:13px;transition:background-color 0.2s ease-in-out;
        &:hover {
            background-color:rgba(#000,0.6);
        }
        &.swiper-button-prev {
            left:0;
        }
        &.swiper-button-next {
            right:0;
        }
    }

    #profile .swiper-pagination {
        left:50%;bottom:50px;transform:translateX(-50%);
        .swiper-pagination-bullet {
            margin:0 6px;border-radius:2em;background:rgba(#fff,0.3);opacity:1;transition:all 0.4s ease-in-out;
        }
        .swiper-pagination-bullet-active {
            width:36px;background:#fff;
        }
    }


/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 프로젝트 */
    #project {
        background-color:#f5f7f8;
        .tit_section {
            padding:120px 0 70px;font-size:41px;text-align:center;letter-spacing:-0.03em;
        }
    }

    #project .list_project {
        display:flex;flex-wrap:wrap;justify-content:space-between;
        .item_project {
            width:416px;margin-bottom:33px;background-color:#fff;
            .tit {
                padding:36px 0 23px 32px;font-size:24px;font-weight:bold;line-height:1em;
            }
            .desc {
                padding:0 36px 18px;word-break:keep-all; 
            }
            .tag {
                overflow:hidden;padding:0 36px 35px;
                span {
                    display:inline-block;margin-right:10px;padding:9px 13px 7px;border:1px solid #eaeaea;line-height:1em;
                    &::before {
                        content:"# ";
                    }
                }
            }
        }
    }




/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
