/* SCSS Document */
@charset "UTF-8";

$imgPath : "/img/main/";
/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/


    /* 메인비주얼 */
    #visual {
        position:relative;width:100%;height:900px;
        > .inner {
            pointer-events:none;
        }
        .tit_section {
            position:absolute;top:228px;font-size:60px;font-weight:900;line-height:1.27em;letter-spacing:-2.4px;color:#fff;
            strong {
                font-weight:900;background-image:linear-gradient(to right,#28e375 0%, #22e6cc 101%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;
                @include ieHack {
                    color:#28e375;background-image:none;
                }
            }
        }
        .videoLayer {
            position:absolute;top:590px;width:176px;height:46px;border-radius:2em;color:#fff;background-image:$G-gradPrimary;pointer-events:all;
        }
    }

    #visual .swiper-container {
        position:absolute;top:0;left:0;z-index:0;width:100%;height:100%;
    }

    #visual .swiper-slide {
        background-size:cover;
        .tit {
            position:absolute;top:500px;font-size:20px;line-height:1.4em;letter-spacing:-0.2px;color:#fff;opacity:0;transform:translateX(60px);
        }
        &.swiper-slide-active {
            .tit {
                opacity:1;transform:translateX(0);transition:all 0.6s ease-in-out;
            }
        }
    }

    #visual .swiper-button-area {
        position:absolute;top:50%;left:110px;right:110px;z-index:1;height:1px;background-color:rgba(#fff,0.3);;
        .swiper-button-white {
            width:55px;height:55px;margin-top:-28px;border-radius:100%;background-color:rgba(#fff,0.3);background-size:13px;transition:background-color 0.2s ease-in-out;
            &:hover {
                background-color:rgba(#fff,0.6);
            }
        }
        .swiper-button-prev {
            left:-55px
        }
        .swiper-button-next {
            right:-55px
        }
    }

    #visual .swiper-button-area .progress_bar {
        position:absolute;top:0;left:0;width:30%;height:100%;background-color:$G-colorPrimary;
    }

    #visual .swiper-pagination {
        bottom:50px;
        .swiper-pagination-bullet {
            margin:0 6px;border-radius:2em;background:rgba(#fff,0.3);opacity:1;transition:all 0.4s ease-in-out;
        }
        .swiper-pagination-bullet-active {
            width:36px;background:#fff;
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 약력 */
    #profile {
        overflow:hidden;position:relative;height:550px;background-image:linear-gradient(to right, #00c652, #00c5ae);
        &::before {
            content:"";position:absolute;bottom:0;left:0;width:0;height:0;border-top:900px solid transparent;border-left:600px solid rgba(#fff,0.05);
        }
        &::after {
            content:"";position:absolute;bottom:0;right:0;width:0;height:0;border-top:900px solid transparent;border-right:600px solid rgba(#fff,0.05);
        }
    }

    #profile .swiper-container {
        width:100%;height:100%;
    }

    #profile .swiper-slide {
        .tit {
            padding:105px 0 20px;font-size:20px;color:#fff;text-align:center;line-height:1em;
        }
        .num {
            font-family:"CenturyGothic";font-size:141px;font-weight:bold;color:#fff;text-align:center;line-height:1em;
        }
        .desc {
            padding-top:35px;font-size:25px;color:#fff;text-align:center;line-height:1.56em;
        }
    }

    #profile .swiper-button-white {
        width:48px;height:64px;margin-top:-32px;background-color:rgba(#000,0.15);background-size:13px;transition:background-color 0.2s ease-in-out;
        &:hover {
            background-color:rgba(#000,0.6);
        }
        &.swiper-button-prev {
            left:0;
        }
        &.swiper-button-next {
            right:0;
        }
    }

    #profile .swiper-pagination {
        left:50%;bottom:50px;transform:translateX(-50%);
        .swiper-pagination-bullet {
            margin:0 6px;border-radius:2em;background:rgba(#fff,0.3);opacity:1;transition:all 0.4s ease-in-out;
        }
        .swiper-pagination-bullet-active {
            width:36px;background:#fff;
        }
    }


/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 프로젝트 */
    #project {
        background-color:#f5f7f8;
        .tit_section {
            padding:120px 0 70px;font-size:41px;text-align:center;letter-spacing:-0.03em;
        }
    }

    #project .list_tag {
        margin:-5px;padding-bottom:70px;
        .btn_tag {
            overflow:hidden;display:inline-block;position:relative;z-index:1;margin:5px;padding:10px 20px 10px;border:1px solid #eaeaea;line-height:1em;transition:all 0.2s ease-in-out;
            &::before {
                content:"# ";
            }
            &::after {
                content:"";position:absolute;top:0;bottom:0;left:0;right:100%;z-index:-1;background:$G-gradPrimary;transition:all 0.4s ease-in-out;
            }
            &.on {
                border-color:transparent;color:#fff;transition:all 0.4s ease-in-out;
                &::after {
                    right:0;
                }
            }
        }
    }

    #project .list_project {
        display:flex;flex-wrap:wrap;justify-content:space-between;
        .item_project {
            width:416px;margin-bottom:33px;background-color:#fff;
            .tit {
                padding:36px 0 23px 32px;font-size:24px;font-weight:bold;line-height:1em;
            }
            .desc {
                padding:0 36px 18px;word-break:keep-all;
            }
            .tag {
                overflow:hidden;padding:0 36px 35px;
                span {
                    display:inline-block;margin-right:10px;padding:9px 13px 7px;border:1px solid #eaeaea;line-height:1em;
                    &::before {
                        content:"# ";
                    }
                }
            }
        }
    }

    #project .btn_area {
        padding:50px 0 90px;text-align:center;;
        .btn_more {
            @include gradSlideBtn;
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 사용자 편의성 */
    #device {
        position:relative;height:1296px;margin-bottom:300px;background: #292B31 url(https://displayad.naver.com/static/images/9ac6aa3c8c899465dff373ee9586ee53.jpg) 50% 0 no-repeat;background-size:cover;background-attachment:fixed;
    }

    #device .tag {
        display:flex;align-items:center;position:absolute;top:5px;left:316px;z-index:40;width:238px;height:50px;padding-left:28px;border-radius:2em;font-family:"CenturyGothic";font-size:26px;font-weight:bold;font-style:italic;color:#fff;line-height:1em;background-color:#ff0032;
        &::after {
            $name: inline-#{unique-id()};
            content:"";position:absolute;top:50%;right:20px;width:7px;height:7px;background-color:#fff;border-radius:100%;transform:translateY(-50%);animation:#{$name} 0.5s infinite alternate ease-in-out;
            @keyframes #{$name} {
                100%        {opacity:0.5}
            }
        }
    }

    #device .swiper-container {
        pointer-events:none;
        $value:
            'tablet'     236px    131px    11   427px   319px    6px,
            'pc'         51px     390px    21   748px   466px    0,
            'mobile'     275px    1132px   31   131px   285px    13px,
        ;
        @each $class, $top, $left, $z-index, $width, $height, $bdr in $value {
            &.swiper-#{$class} {
                position:absolute;top:#{$top};left:#{$left};z-index:#{$z-index};width:#{$width};height:#{$height};border-radius:#{$bdr};
            }
        }        
    }

    #device .swiper-slide {
        overflow:hidden;
        .slide-inner {
            position:absolute;width:100%;height:100%;left:0;top:0;background-size:cover;background-position:center;
        }
    }

    #device {
        $value:
            'tablet'     220px    98px     10    494px,
            'pc'         25px     248px    20   1031px,
            'mobile'     264px    1111px   30    174px,
        ;
        @each $class, $top, $left, $z-index, $width in $value {
            .bg_#{$class} {
                position:absolute;top:#{$top};left:#{$left};z-index:#{$z-index};width:#{$width};height:auto;
            }
        }
    }

    #device .txt_area {
        position:absolute;top:680px;left:50%;transform:translateX(-50%);
        .tit_section {
            padding-bottom:30px;font-size:41px;color:#fff;text-align:center;letter-spacing:-0.03em;
            strong {
                font-weight:900;
            }
        }
        .desc_section {
            padding-bottom:90px;font-size:20px;color:#fff;text-align:center;
        }
        .btn_search {
            @include gradBtn;
        }
    }

    #device {
        $value:
            top      left       #f5f7f8,
            bottom   right      #fff,
        ;
        @each $Y, $X, $bgc in $value {
            .rotate_#{$Y} {
                position:absolute;width:120%;height:300px;background-color:#{$bgc};transform-origin:#{$X} #{$Y};transform:rotate( 5.2deg);z-index:0;
                @if ($Y == top){
                    left:0;top:-288px;
                } @else {
                    right:0;bottom:-288px;
                }
            }
        }
    }


/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 코딩블로그 */
    #blog {
        padding-bottom:110px;
        .tit_section {
            padding:120px 0 30px;font-size:41px;text-align:center;letter-spacing:-0.03em;
        }
        .desc_section {
            padding-bottom:90px;font-size:20px;color:#767676;text-align:center;
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



